



.mydiv{
    background-image:url("/pics/pexels-andrew-neel-3178786.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    font-family: 'Raleway', sans-serif;
  
}

.nav {

    margin: 0rem 0rem;
    font-size: 1.3rem;  
    margin-left: auto;     

}


#anchor{
    color: aliceblue;
    text-decoration: none;
    padding: 1rem 1rem;
}


.center_element{
    text-align: center;
    padding: 10rem 10rem;

}
#heading{
    color: oldlace;
    font-size: 3rem;
    font-weight: bolder;
}
#element{
    color: oldlace;
    font-size: large;
    opacity: 0.8;
   
}

#btn{
    padding: 0.7rem;
    background-color: rgb(247, 65, 65);
    border: none;
    border-radius: 3px;
    color: oldlace;
    font-size: 20px;
}

.cnt{
    display: inline-block;
    border: tomato;
}

.grid-conatainer{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 25%;
    outline: 1px solid black;
    margin-top: 3px;
    font-family: 'Ralew ay', sans-serif;

}

.phase2{
    opacity: 0.9;
    font-size: large;
}

.conatiner-3{

    background-color: rgb(226, 226, 226);
    border: 2px solid green;
    border-radius: 7px;
    text-align: center;

}

.pics{
    width: 300px;
    height: 300px;
    padding: 10px;
    
    
}

#head{
    text-align: center;

}


.conatiner-3.btn{
    align-items: center;
}

.songpic{
    height: 100px;
    width: 100px;
    border: 4px solid grey;
    border-radius: 50%;
  
}

.grid-conatainer-2{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 25%;
 
    margin-top: 3px;
    font-family: 'Ralew ay', sans-serif;
    text-align: right;
}

.footer{
    background-image: url("/pics/pooster.jpg");
    background-repeat: no-repeat;
    height: 300px;
    background-size:100% 100%;
    border: 2px solid ;
    border-radius: 4px;
   
}

#move{
    position: relative;
    left: -150px;
}
#move2{
    position: relative;
    left: 150px;
    text-align: left;
}

#songpic1{
    position: relative;
    top: -115px;
    left: -25px;
}

#songpic2{
    position: relative;
    right: 235px;
    top: -130px;
}